<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Todos los Usuarios</title>
    <link rel="stylesheet" href="/css/all-users.css"/>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="/js/all-users-script.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Información de Todos los Usuarios</h1>
      <button class="add-user-button" onclick="showAddUserModal()">
        <i class="fas fa-user-plus"></i> Añadir Usuario
      </button>
      <table id="users-table">
        <thead>
          <tr>
            <th>Username</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>País</th>
            <th>Rol</th>
            <th>Contraseña</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <!-- Los datos de los usuarios se insertarán aquí -->
        </tbody>
      </table>
    </div>

    <!-- Modal para añadir usuario -->
    <div id="addUserModal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Registrar Nuevo Usuario</h2>
          <button class="close-button" onclick="closeAddUserModal()">
            &times;
          </button>
        </div>
        <form id="addUserForm" onsubmit="registerUser(event)">
          <div class="form-group">
            <label for="newUsername">Nombre de Usuario:</label>
            <input type="text" id="newUsername" required />
          </div>
          <div class="form-group">
            <label for="newPassword">Contraseña:</label>
            <div class="password-container">
              <input type="password" id="newPassword" required />
              <i class="fas fa-eye" onclick="toggleNewPasswordVisibility(this)"></i>
            </div>
          </div>
          <div class="form-group">
            <label for="newFirstName">Nombre:</label>
            <input type="text" id="newFirstName" required />
          </div>
          <div class="form-group">
            <label for="newLastName">Apellido:</label>
            <input type="text" id="newLastName" required />
          </div>
          <div class="form-group">
            <label for="newCountry">País:</label>
            <input type="text" id="newCountry" required />
          </div>
          <div class="form-group">
            <label for="newRole">Rol:</label>
            <select id="newRole" required>
              <option value="USER">USER</option>
              <option value="ADMIN">ADMIN</option>
            </select>
          </div>
          <div class="form-buttons">
            <button type="button" class="cancel-button" onclick="closeAddUserModal()">
              Cancelar
            </button>
            <button type="submit" class="submit-button">Registrar</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>